<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/css/index.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <header>
        <h1 class="LogoWhite">NeuralLearn</h1>
        <nav>
          <ul class="ListaNav">
            <div class="dropdown">
              <button class="dropbtn">Cursos</button>
              <div class="dropdown-content">
                <a id="FullStack" href="#">FullStack Developer</a>
                <a id="BackEnd1" href="#">BackEnd Developer - Python</a>
                <a id="BackEnd2" href="#">BackEnd Developer - Java</a>
                <a id="FrontEnd" href="#">FrontEnd Developer</a>
                <a id="Ciencia" href="#">Ciencia de Dados</a>
                <a id="DataBase1" href="#">DataBase - SQL</a>
                <a id="DataBase2" href="#">DataBase - NoSQL</a>
                <a id="Mobile" href="#">Desenvolvimento Mobile</a>
                <a id="Ciber" href="#">Cibesergurança</a>
                <a id="Persona" href="#">Personalizavel...</a>
              </div>
            </div>
            <li>Eventos</li>
            <li>Contato</li>
            <li>Sobre</li>

            <a href="../view/cadastroUser.html"><button id="bttCadHeader">Cadastrar</button></a>
            <a href="../view/cadastroUser.html"><button id="bttEntrar">Entrar</button></a>
            <button id="bttPlanos">Ver Planos</button>
          </ul>
          <button class="BttMudarCor">
            <img src="../style/image/702814.png" alt="" width="25px" />
          </button>
        </nav>
      </header>
      <section id="LandingPg">
        <article id="TextArt">
          <h1 class="Title">
            Domine a Programação e a Ciência de Dados com a
            <span>Neuralle <span id="hub">arn</span></span>
          </h1>
          <p class="Desc">
            Na Study Hub, oferecemos cursos de alta qualidade em Programação e
            Ciência de Dados, projetados para transformar iniciantes em
            especialistas. Com materiais atualizados e instrutores experientes,
            você estará pronto para enfrentar os desafios do mercado de trabalho
            e alcançar seus objetivos profissionais. Inscreva-se hoje e inicie
            sua jornada rumo ao sucesso na tecnologia!
          </p>
          <div class="BttArt">
            <button id="bttCursosArt">Conheçer cursos</button>
            <button id="bttCadArt">Cadastrar</button>
          </div>
        </article>
        <article>
          <img
            src="../style/image/7ed1c4cbcbcd25bff099ea0018279f5d-removebg-preview.png"
            alt=""
          />
        </article>
      </section>

      <section class="CardCursos">
        <h1>Cursos mais Acessados:</h1>
        <div id="container" class="card-container"></div>
      </section>

      <section class="AbaExplicativa">
        <article class="AbaExplicativaCaixa">
          <h1>Por que escolher a NeuralLearn?</h1>
          <ul>
            <h2><span class="StyleBall"></span>Estrutura Robusta de Estudos</h2>
            <div class="styleTracoBall">
              <span class="traco"></span>
              <p>Na NeuralLearn, oferecemos uma estrutura de estudos sólida e bem-organizada. 
                Nossos cursos são projetados para proporcionar uma experiência de aprendizado 
                abrangente e profunda, cobrindo desde os fundamentos até tópicos avançados em 
                programação e ciência de dados. Cada curso é cuidadosamente elaborado por especialistas da indústria, 
                garantindo que você obtenha conhecimento relevante e atualizado.</p>
            </div>

            <h2><span class="StyleBall"></span>Diversidade de Cursos</h2>
            <div class="styleTracoBall">
              <span class="traco"></span>
              <p>Com uma ampla gama de cursos disponíveis, a NeuralLearn atende a todos os níveis de habilidade,
                desde iniciantes até profissionais experientes. Se você está começando na programação ou deseja 
                aprimorar suas habilidades em ciência de dados, temos o curso perfeito para você. Nossa plataforma 
                facilita o acesso a uma educação de qualidade, permitindo que você aprenda no seu próprio ritmo e conforme sua conveniência.</p>
            </div>

            <h2><span class="StyleBall"></span>Confiança e Qualidade em Primeiro Lugar</h2>
            <div class="styleTracoBall">
              <span class="traco"></span>
              <p>Na NeuralLearn, a confiança e a qualidade são nossas prioridades. Nos empenhamos para 
                garantir que cada curso atenda aos mais altos padrões de qualidade, proporcionando um 
                aprendizado eficaz e envolvente. Nossos instrutores são profissionais experientes e 
                apaixonados pelo ensino, comprometidos em ajudá-lo a alcançar seus objetivos de aprendizado e carreira.</p>
            </div>

            <h2><span class="StyleBall"></span>Suporte ao Aluno</h2>
            <div class="styleTracoBall">
              <span class="traco"></span>
              <p>Além do conteúdo dos cursos, oferecemos suporte dedicado aos nossos alunos. 
                Nossa equipe de suporte está sempre disponível para responder suas perguntas, 
                fornecer orientação e ajudá-lo a superar qualquer desafio que você possa encontrar 
                ao longo do seu percurso de aprendizado.</p>
            </div>

            <h2><span class="StyleBall"></span>Comunidade Engajada</h2>
            <div class="styleTracoBall">
              <span class="traco"></span>
              <p>Ao escolher a NeuralLearn, você se torna parte de uma comunidade vibrante e 
                engajada de aprendizes e profissionais. Nossa plataforma oferece diversas oportunidades 
                de networking, permitindo que você se conecte com outros alunos, compartilhe experiências 
                e colabore em projetos. Juntos, promovemos um ambiente de aprendizado colaborativo e enriquecedor.
              </p>
            </div>
          </ul>
        </article>
        <div id="BarraLateral" class="BarraLateral">
          <img id="ImageExplicativa" src="../style/image/image09-removebg-preview.png" alt="">
          <div id="container2" class="container-prof">
            <h2>Professores:</h2>
          </div>
        </div>
      </section>
        <hr>
      <section class="AbaFeedBack">
        <h2>Feedback Dos Alunos</h2>
          <article>
            <div id="container3" class="container-aluno"></div>
          </article>
          
        <article>
          <h2>Gostou do Curso?! Realize seu Feedback para nos ajudar!</h2>
          <p>Você precisa ser aluno para realizar o Feedback, digite seu Email e senha utilizado no curso, <span>Sua opinião é essencial para nós!</span>
            Seu feedback nos ajuda a entender suas necessidades e a melhorar continuamente nossos cursos. Agradecemos por dedicar seu tempo para compartilhar sua experiência conosco.</p>
              <button onclick="abrirModal()" id="bttModalFeed">Realizar Feedback</button>

          <div id="ModalFeed" class="modal">
            <div id="modal">
                  <button onclick="fecharModal()" id="fechar" class="fechar">X</button>
              <h2>Feedback Aluno</h2>
             <div id="DescModal"> 
                <p>Nós valorizamos muito a sua opinião! Para nos ajudar a melhorar continuamente 
                nossos cursos e a experiência dos nossos alunos, pedimos que você envie um feedback.</p>
                  <h4>Importante:</h4>
                    <p>Para enviar o feedback, você precisa atender aos seguintes critérios:</p>
                      <ul>
                        <li>Ser aluno cadastrado: Você deve ter uma conta ativa no nosso site. Caso ainda não tenha uma conta, clique aqui para se cadastrar.</li>
                        <li>Ter completado o curso: Apenas alunos que finalizaram o curso podem enviar um feedback. Certifique-se de ter concluído todas as aulas e atividades.</li>
                      </ul>
            </div>
              <form action="" method="post" onsubmit="">
                  <label for="email">Digite seu email:</label>
                    <input type="email" id="email" name="email">
                  <label for="senha">Digite sua senha:</label>
                    <input type="password" id="senha" name="senha">
                  <label for="">O que você achou do curso?</label>
                    <textarea name="Feedback" id="Feedback" cols="30" rows="10"></textarea>
                      <button id="BttEnviarFeed">Enviar</button>
              </form>
            </div>
          </div>
        </article>
      </section>
        <footer>
          <ul>
            <li></li>
            <li></li>
          </ul>
          
          <ul>
              <li></li>
              <li></li>
              <li></li>
          </ul>
        </footer>
    </main>
  </body>
  <script src="../Javascript/animacao.js"></script>
  <script src="../Javascript/listaCursosPopulares.js"></script>
  <script src="../Javascript/listaProfessores.js"></script>
  </html>
